ul li {
    list-style: none;
    padding: 0.4rem 0;
}

ul li a:hover{
    color: #fff !important;
}

ul li a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer-logo-wrapper{
        width: 150px;
        margin: 1rem 0;
    }

    .footer-company-name{
        display: none;
    }
}